<ion-list no-lines *ngFor="let member of groupMembers">
	<ion-grid>
		<ion-row>
			<h3>{{member.TweeterID}}</h3>
		</ion-row>
		<ion-row>	
			<ion-col>

				  <ion-thumbnail item-start>
				  	<img src={{member.ProfileImg}} style="max-width: 55px;">
				  </ion-thumbnail>	

			</ion-col>
			<ion-col>
				<xpnk-member-buttons 
					[groupTweets]="groupTweets" 
					[groupInstagrams]="groupInstagrams" 
					[groupDisqusions]="groupDisqusions" 
					[xpnkuser]="member.XpnkID" >		
				</xpnk-member-buttons>
			</ion-col>
		</ion-row>	
	</ion-grid>
</ion-list>
